 <div class="cards">
  <% @ponies.each do |pony| %>
    <%= link_to pony_path(pony) do %>
      <div class="card-trip">
        <% if pony.photo.attached? %>
          <%= cl_image_tag pony.photo.key, class: "small-pony-image img-fluid" %>
          <% else %>
          <%= image_tag "/assets/pony_one.jpg", class: "small-pony-image img-fluid" %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= pony.name%></h2>
            <p><%= pony.description%></p>
          </div>
          <h2 class="card-trip-pricing"><%= pony.price%>$</h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
