<% if user_signed_in? %>
  <div id="dashboard-container">
    <h1>Welcome, <%= @user.first_name %>!</h1>

    <div>
      <h2>Your Bookings</h2>
      <% if @booked_ponies.present? %>
        <ul>
          <% @booked_ponies.each do |pony| %>
            <li><%= link_to pony.name, pony_path(pony) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>You haven't booked any ponies yet.</p>
      <% end %>
    </div>

    <div>
      <h2>Booking Statistics</h2>
      <p>Total Bookings: <%= @total_bookings %></p>
      <p>Pending Bookings: <%= @pending_bookings %></p>
      <p>Accepted Bookings: <%= @accepted_bookings %></p>
      <p>Declined Bookings: <%= @declined_bookings %></p>
    </div>

    <!-- Add more sections as needed -->
    <% @ponies.each do |pony| %>
      <% pony.bookings.each do |booking| %>
        <% if booking.status == "Pending" %>
          <p>You have a request on </p> <%= pony.name %> <%= booking.status %>
          <%= button_to "Accept", accept_booking_path(booking), method: "patch", class: "btn btn-success", onclick: "handleButtonClick(this)"  %>
          <%= button_to "Decline", decline_booking_path(booking), method: "patch", class: "btn btn-danger", onclick: "handleButtonClick(this)"  %>
        <% end %>
      <% end %>
    <% end %>

    <script>
      function refreshPage() {
        location.reload();
      }
    </script>

  </div>
<% end %>
