<%= render "shared/banner" %>
<div class="container">
  <div class="row grid-template-rows: auto;h justify-content-center">
    <div class="col-sm-4 my-3;">
      <%= form_with url: ponies_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a pony name or a price"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
  <div class="row grid-template-rows: auto;h">
    <div class="col-sm-12 my-3">
      <div class="cards">
        <% @ponies.each do |pony| %>
          <%= link_to pony_path(pony) do %>
            <div class="card-trip">
              <% if pony.photo.attached? %>
                <%= cl_image_tag pony.photo.key, class: "small-pony-image img-fluid" %>
                <% else %>
                <%= image_tag "/assets/pony_one.jpg", class: "small-pony-image img-fluid" %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= pony.name%></h2>
                  <p><%= pony.description%></p>
                </div>
                <h2 class="card-trip-pricing"><%= pony.price%>$</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
