<h1>Ponies#new</h1>
<p>Find me in app/views/ponies/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new pony</h1>
      <%= simple_form_for @pony do |f| %>
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :alias %>
        <%= f.input :sex, collection: ["Neutral", "Male", "Female"], include_blank: false %>
        <%= f.input :color %>
        <%= f.input :discipline, collection: ["Ride", "Circus", "Dance", "Obstacle"], include_blank: false %>
        <%= f.input :breed, collection: ["Pony", "Double-Pony", "Unicorn", "Pur-Sang"], include_blank: false %>
        <%= f.input :address, input_html: { data: { controller: "address-autocomplete" } } %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Back to the homepage", ponies_path %>
    </div>
  </div>
</div>
